-i https://pypi.org/simple
certifi
django
django-filter
djangorestframework
gunicorn; python_version == "3.9"
markdown
packaging; python_version >= "3.9"
pytz
setuptools; python_version >= "3.9"
sqlparse
whitenoise
