-i https://pypi.org/simple
certifi==*
django==*
django-filter==*
djangorestframework==*
gunicorn==*; python_version==*
markdown==*
packaging==* python_version >= *
pytz==*
setuptools==*; python_version >= *
sqlparse==*
whitenoise==*
